.container {
    @extend .center;
    padding-bottom: 0.5%;
    max-width: 795px;
    margin: 0 auto;

    .info {
        font-size: 18px;
        color: #222;
        max-width: 90%;
        margin: 0 auto;
        text-transform: uppercase;
    }

    .title-thanks {
        color: #005bbb;
        font-size: 36px;
        padding: 3% 0;
    }
}

@media (max-width: $width-980) {
    .container {
        .title-thanks {
            margin: 0 auto;
            max-width: 90%;
        }
    }
}

@media (max-width: $width-700) {
    .container {
        .title-thanks {
            font-size: 30px;
        }
    }

}

@media (max-width: $width-548) {
    .container {
        .title-thanks {
            font-size: 25px;
            max-width: 90%;
            margin: 0 auto;
            & > span:nth-child(1) {
                margin-bottom: 5px;
                display: inline-block;
            }
        }
    }
}
