$logo-width: 225px;
header {
    background-color: #3379c0;
    background-image: url('../img/ShareRoot_Banner.jpg');
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 195px 0 245px;
    @extend .right;
}

.logo {
    width: $logo-width;
    height: 59px;
    background-image: url('../img/logo-nomarks.png');
    position: absolute;
    top: 20px;
    right: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

.title {
    font-size: 55px;
    color: #fff;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    padding: 0 8px;
    line-height: 150%;
}

@media (max-width: $width-980) {
    header {
        padding: 180px 0 148px;
    }
    .title {
        font-size: 44px;
    }
    .logo {
        top: 10px;
        right: 10px;
        height: 55px;
    }
}

@media (max-width: $width-700) {
    header {
        padding: 180px 0 80px;
    }
    .title {
        font-size: 32px;
    }
}

@media (max-width: $width-548) {
    header {
        padding: 150px 0 50px;
        background-position: 60% center;
    }
    .title {
        font-size: 25px;
        max-width: 90%;
        margin: 0 auto;
        & > span:nth-child(1) {
            margin-bottom: 10px;
            display: inline-block;
        }
    }
    .logo {
        height: 40px;
    }
}
