.shareroot {
    &-btn {
        margin-bottom: 0;

        & > a {
            margin-bottom: 0;
            background-color: #005bbb;
            border-radius: 3px;
            border: none;
            border-bottom: solid 2px #004a99;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-weight: 400;
            font-size: 22px;
            padding: 0.25em 0.75em;
            text-shadow: none;
            transition: background 300ms ease;
        }
    }
}

@media (max-width: $width-548) {
    .shareroot {
        &-btn > a {
            width: 90%;
            box-sizing:border-box;
            padding: 0.75em 0.75em;

        }
    }

}
