$terms-color: #4b4b4b;
article {
    color: $terms-color;
    font-size: 16px;
    padding-bottom: 80px;
    width: 795px;
    max-width: 90%;
    margin: 0 auto;
    text-align: justify;

    p {
        //text-align: justify;
        line-height: 125%;
        color: #404040;

        &.terms-title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 25px;
            color: #222;
        }
    }
}

@media (max-width: $width-548) {
    article {
        text-align: left;
    }
}
